.app {
  min-height: 100vh;
  background: rgba(0, 204, 255, 0.24);
  display: flex;
  justify-content: space-around;
}

.tweet{
  height: 300px;
  width: 300px;
  background: rgb(238, 231, 229);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}